
* {
  margin: 0;
  padding: 0;
  min-width: 1px;
  outline: 0 none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}

img {
    max-width: 100%;
}

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#main{
	flex: 1 0 auto;

}
a{
	text-decoration: none;
}

ul{
	list-style: none;
}
.bookBtn{
			padding: 5px 20px;
			border-radius: 20px;
			background: transparent;
			font-size: 24px;
			color: black;
			border: 2px solid black ;
			transition: all 1s;
				&:hover{
				background: #98e0ed ;
				color: #5d788d;
				border: 2px solid #61afbd;
			}
		}


header{
	position: relative;
	z-index: 2;
	.top {
		background: #3e8794;
		.container {	
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	
	.info{
		padding: 15px;
		a{
			color: white;
			padding-left: 15px;
		}
	}
	.social{
		padding: 15px;
		.shake{
			padding-left: 15px;
		}
	}

}

/*Shake*/


.shake
{
    position: relative;

    display: inline-block;
}



@-webkit-keyframes  social
{
    0%
    {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10%
    {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20%
    {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    30%
    {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40%
    {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50%
    {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60%
    {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70%
    {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    80%
    {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    90%
    {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100%
    {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}
.shake:hover,
.shake:focus
{
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-name: social;
    -webkit-animation-duration: .8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
/*SHAKE
*/


.navContainer{
	background: linear-gradient(to bottom, #ffffff, #f6faf9);
    display: flex;
    justify-content: center;
	
    > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  
    	> li {
    		position: relative;
			border-radius: 7px;


    		&:hover {
    			background: #d9f0f3;
       				.subMenu {
       					width: 300px;
						
	    				opacity: 1;
	    				visibility: visible;
	    				background: linear-gradient(to bottom, #ffffff, #dbf4f4);
	    				border-radius: 15px;

	    				a{
	    					
	    					border-radius: 10px;
	    					
	    				}
	    				
       			}	
    		}
    		> a {
    			display: inline-block;
    			text-decoration: none;
    			color: #777;
				padding: 15px 40px;
    			font-family: sans-serif;
    			font-size: 15px;
    		}
    	}
    }
    .subMenu {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	right: -100px;
	list-style: none;
	text-align: center;
	padding: 15px;
	/*transition: all 1s ease;*/
		li{
			padding-bottom: 10px;
		}
		a{
			padding: 10px 20px;
			color: #4d4d4d;
		

		}
			a:hover{
				background: #d9f0f3;
			}

	
    }  
    .sub-menu-parent::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 80px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #9dc2c9 /* Добавляем треугольник */
   }
}



.logo{
	display: block;
	text-align: center;
	margin-top: 30px;

}

footer{
	min-height: 100px;
	background: #204c55;
}


.container{
	width: 1140px;
	max-width: 94%;
	margin: 0 auto;
}




.slider1{.
	background: #fff;
	font-size: 70px;
	color: #1f4c54;
	max-width: 100%;
	padding: 30px 0;
			h1{
				position: absolute;

				top: 35%;
				left: 22%;
				.life{
					color: #79c0cd;
				}
				
			}
	

			.slick-dots li button {
				
				border: 2px solid #3e8794;
				border-radius: 50%;
				transition: all 1s;
				&:hover{
					background: #dbf4f4;
				}
				
			}
	
			.slick-dots li button::before{
				content: "";
				width: 6px;
				height: 6px;
				background: #dbf4f4;
				opacity: 1;
				border-radius: 50%;
				top: 20%;
				left: 20%;
				margin: 3px 0 0 3px;
		}
					
			.slick-dots li.slick-active button{
				background: #dbf4f4;

			}

			.slick-prev, .slick-next{
				z-index: 1001;
				width: 40px;
				height: 40px;
			}
			.slick-prev{
				left: 25px;
			}
			.slick-next{
				right: 25px;
			}


		.slick-prev::before, .slick-next::before{
			font-size: 40px;
			color: #12879d;


		}
}
.slider2{
	
	min-width: 100%;
	.slick-dots li button {
				
				border: 2px solid #dbf4f4;
				border-radius: 50%;
				transition: all 1s;
				&:hover{
					background: #dbf4f4;
				}
				
			}
	
			.slick-dots li button::before{
				content: "";
				width: 6px;
				height: 6px;
				background: #dbf4f4;
				opacity: 1;
				border-radius: 50%;
				top: 20%;
				left: 20%;
				margin: 3px 0 0 3px;
		}
					
			.slick-dots li.slick-active button{
				background: #dbf4f4;

			}

			.slick-prev, .slick-next{
				z-index: 1001;
				width: 30px;
				height: 30px;
			}
			.slick-prev{
				left: 25px;
			}
			.slick-next{
				right: 25px;
			}


		.slick-prev::before, .slick-next::before{
			font-size: 30px;
			color: #12879d;

		}
}

/*Information*/

.information{
	width: 100%;
	margin: 50px auto;
	min-height: 300px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 2px;
	background: linear-gradient(to bottom, #ffffff, #f6faf9);
	color: #4d4d4d;
	div{ 
	margin: 50px;
	 }
	.btnInfo{
				padding: 5px 30px;
				border-radius: 10px;
				background: transparent;
				font-size: 24px;
				color: black;
				border: 2px solid black ;
				transition: all 1s;

				&:hover{
					background: #98e0ed ;
					color: #5d788d;
					border: 2px solid #61afbd;
				
		}
	}
}  
 
.slider2{
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 15px;
	margin-bottom: 70px;
	img{
		display: inline-block !important;
		padding-bottom: 15px;
	}
	h3{
		padding-bottom: 30px;
	}
	p{
		padding-bottom: 15px;
	}

	a{
		text-decoration: none;
		color: #c8e3e9;
	}
	div{
		margin: 30px;
	}
}




    .apointmentColor{
    	
    	margin: 30px 0 ; 
    	background: #dbf4f4;
    	line-height: 25px;
    	word-spacing: 3px;

       }
	.apointment{

		display: flex;
		.leftApoint{
		width: 50%;
		
		}
		.rightApoint{
			width: 50%;
			margin: 30px;
			text-align: center;
			line-height: 26px;
			color: #1f4c54;
			h1{
				padding: 25px;
			}
			p{
				padding: 10px;
			}
			a{
				text-decoration: underline;
				color: #1f4c54;

			}
			.bookBtn{
						padding: 5px 20px;
						border-radius: 10px;
						background: transparent;
						font-size: 24px;
						color: black;
						border: 2px solid black ;
						transition: all 1s;

						&:hover{
							background: #98e0ed ;
							color: #5d788d;
							border: 2px solid #61afbd;

				}
			}
		}
	}


.footer{
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 50px;
	h2{
		color: #7abfce;
		padding-bottom: 20px;
	}
	p{
		padding: 10px 0;
	}
	a{

		color: white;
		padding: 10px 0;
	}
	.blockUp{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.map{
			margin-right: 100px;
		
		}
	}
	.blockBottom{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 20px;
		.socialFooter{

			a{
				padding: 0 20px;
			}
		}
	}

}




/*ABOUT US*/
.crumbs{
	margin: 30px 0;
}

.crumbs ul li{
	list-style:none;
}
.crumbs ul li a {
	display: block;
	float: left;
	height: 40px;
	background: #3e8794;
	text-align: center;
	padding: 15px 20px 0 40px;
	position: relative;
	margin: 0 5px 0 0; 	
	font-size: 15px;
	text-decoration: none;
	color: #fff;
}
.crumbs ul li a:after {
	content: "";  
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #3e8794;
	position: absolute; 
	right: -20px; 
	top: 0;
	z-index:2;
}
.crumbs ul li a:before {
	content: "";  
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute; left: 0; top: 0;	
}
.crumbs ul li:first-child a {
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}
.crumbs ul li:first-child a:before {
	display: none; 
}

.crumbs ul li:last-child a {
	padding-right: 40px;
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
.crumbs ul li:last-child a:after {
	display: none; 
}
.crumbs ul li a:hover {
	background: #79c0cd;
}
.crumbs ul li a:hover:after {
	border-left-color: #79c0cd;
}


.aboutUs{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	color: #1f4c54;
	h2{
		font-size: 40px;
		padding-bottom: 30px;
	}
	h3{
		padding-bottom: 20px;
	}
	p{
		padding-bottom: 25px;
	}
	a{
		text-decoration: underline;
		color: #79c0cd;
	}
	ul{
		padding-bottom: 30px;
		list-style: square inside;
		a{
			text-decoration: none;
			color: #4d4d4d;
		}
	}
	.aboutLeft{
		padding: 0 50px;
	}
	.asideUp{
		padding: 20px 40px;
		background: #eff5f5;
		.bookBtn{
						padding: 5px 20px;
						border-radius: 20px;
						background: transparent;
						font-size: 24px;
						color: black;
						border: 2px solid black ;
						transition: all 1s;

						&:hover{
							background: #98e0ed ;
							color: #5d788d;
							border: 2px solid #61afbd;

				}
		}
	}
}
/*ABOUT US*/

/*DOCTOR VARMA HTML*/


.doctor{
	display: flex;
	margin: 20px;
	color: #4d595b;
	.text{
		padding: 0 40px;
		a{
			color: #79c0cd;
		}
	}
}

/*FORM*/

/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */


/* === List Styles === */
.contactForm{
		background: #eff5f5;
	}

.contactForm ul {
    
    list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}
.contactForm li{
	padding: 12px; 
	
	position: relative;
} 


/* === Form Header === */
h2{
	text-align: center;
}
.requiredNotification {
	color: #d45252; 
	margin: 5px 0 0 0; 
	display: inline;
	float: right;
	font-size: 11px;
}

/* === Form Elements === */
.contactForm label {
	width: 150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding: 3px;
}
.contactForm input {
	height: 20px; 
	width: 220px; 
	padding: 5px 8px;
}
.contactForm textarea {padding: 8px; width: 300px;}
.contactForm button {margin-left: 18%;}

	/* form element visual styles */
	.contactForm input, .contactForm textarea { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px;
		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}
	.contactForm input:focus, .contactForm textarea:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right: 70px;
	}

/* === HTML5 validation styles === */	
.contactForm input:required, .contactForm textarea:required {
	background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
.contactForm input:required:valid, .contactForm textarea:required:valid {
	background: #fff url(images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #71bac7;
	border-color: #71bac7;
}
.contactForm input:focus:invalid, .contactForm textarea:focus:invalid {
	background: #fff url(images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.formHint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.formHint::before {
	content: "\25C0";
	color: #d45252;
	position: absolute;
	top: 1px;
	left: -6px;
}
.contactForm input:focus + .formHint {display: inline;}
.contactForm input:required:valid + .formHint {background: #71bac7;}
.contactForm input:required:valid + .formHint::before {color:#71bac7;}
	
/* === Button Style === */
button.submit {
	background-color: #75bdca;
	background: -webkit-gradient(linear, left top, left bottom, from(#75bdca), to(#60aebc));
	background: -webkit-linear-gradient(top, #75bdca, #60aebc);
	background: -moz-linear-gradient(top, #75bdca, #60aebc);
	background: -ms-linear-gradient(top, #75bdca, #60aebc);
	background: -o-linear-gradient(top, #75bdca, #60aebc);
	background: linear-gradient(top, #75bdca, #60aebc);
	border: 1px solid #71bac7;
	border-bottom: 1px solid #71bac7;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	box-shadow: inset 0 1px 0 0 #71bac7;
	-webkit-box-shadow: 0 1px 0 0 #71bac7 inset ;
	-moz-box-shadow: 0 1px 0 0 #71bac7 inset;
	-ms-box-shadow: 0 1px 0 0 #71bac7 inset;
	-o-box-shadow: 0 1px 0 0 #71bac7 inset;
	color: white;
	font-weight: bold;
	padding: 15px 60px;
	text-align: center;
	text-shadow: 0 -1px 0 #71bac7;
}
button.submit:hover {
	opacity: .85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #71bac7;
	box-shadow: 0 0 10px 5px #71bac7 inset; 
	-webkit-box-shadow:0 0 10px 5px #71bac7 inset ;
	-moz-box-shadow: 0 0 10px 5px #71bac7 inset;
	-ms-box-shadow: 0 0 10px 5px #71bac7 inset;
	-o-box-shadow: 0 0 10px 5px #71bac7 inset;
	
}


/*DOCTOR VARMA HTML*/


/*SERVICES*/
.content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.services{
		text-align: center;
		padding: 20px;
		h3{
			padding: 25px 0;
			color: #253234;
		}
		p{
			padding-bottom: 30px;
			color: #4d4d4d;
		}
		a{
			text-decoration: underline;
			color: #79c0cd;
		}
	}
}
/*SERVICES*/



/*SERVICES Functional Neurology*/

.nevUp{
	background: #dbf4f4;

	img{
		
		}
	.container{
		display: flex;
		padding: 30px 0;
	}
	.nevInfo{
		text-align: center;
		h2{
			color:#1f4c54;
			padding: 15px;
		}
		a{
			text-decoration: underline;
			color: #88c7d2;
		}
		ul{
			padding: 15px;
		}

		li{
			display: inline;
			padding-left: 10px;
			&::before{
				content: '●';
				padding-right: 5px;
				color: #88c7d2;
			}
		}
		p{
			padding-bottom: 30px;
		}
		.bookBtn{
			padding: 5px 20px;
			border-radius: 20px;
			background: transparent;
			font-size: 24px;
			color: black;
			border: 2px solid black ;
			transition: all 1s;
				&:hover{
				background: #98e0ed ;
				color: #5d788d;
				border: 2px solid #61afbd;
			}
		}
	}
}
.nevDown{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px 0;
	color: #1f4c54;
	.nevLeft{
		padding-right: 40px;
	}
	h2{
		font-size: 40px;
		padding-bottom: 30px;
	}
	h3{
		padding-bottom: 20px;
	}
	p{
		padding-bottom: 25px;
	}
	a{
		text-decoration: underline;
		color: #4d4d4d;
	}
	.navLeftList{
		display: flex;
		justify-content: space-between;
		padding-right: 30px;
	}
	ul{
		padding-bottom: 30px;
		list-style: square inside;
		color: #79c0cd;
	}

	.asideUp{
		padding: 20px 40px;
		background: #eff5f5;
		.bookBtn{
						padding: 5px 20px;
						border-radius: 20px;
						background: transparent;
						font-size: 24px;
						color: black;
						border: 2px solid black ;
						transition: all 1s;

						&:hover{
							background: #98e0ed ;
							color: #5d788d;
							border: 2px solid #61afbd;

				}
		}
	}
}


/*BOOK*/
.wrapBook{
	display: flex;
	justify-content: space-between;

	.bookApointment{

		margin: 30px;
		color: #4d4d4d;
		h3{
			padding: 30px 0;
			color: #1f4c54;
		}
		p{
			padding-bottom: 20px;
		}
		ul{
			padding-bottom: 20px;
			list-style: square inside;
			color: #79c0cd;
		}
		
		a{
			text-decoration: underline;
			color: #1f4c54;
		}
	}
	.formBook{
		margin-right: 101px;
	}
}

/*BOOK*/

/*CONTACT US*/
.contactInfo{
	display: flex;
	justify-content: space-between;
	block1{}
}
.contactInfo2{
	display: flex;
	justify-content: space-between;
}
/*CONTACT US*/